/* #region Auto */
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion */

/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  min-height: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-container {
    height: 72px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
    color: #404bbf;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-items {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-items {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-nav {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-items {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .nav-items a:hover,
  .nav-items a:focus,
  .nav-items a:active {
    color: #404bbf;
  }

  .header-nav > li:nth-child a[href=''] {
    color: #2e2f42;
  }
  .navlink.carrent::after {
    content: '';
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link {
    font-size: 16px;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-items {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts-items a:hover,
  .contacts-items a:focus {
    color: #404bbf;
  }

  .header-nav .button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .header-nav .button:focus {
    color: #404bbf;
  }
}
/* #endregion */

/* #region Mobile */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.mobile-menu-icon {
  fill: #2e2f42;
  stroke-width: 1px;
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: flex;
  align-items: center;
}

.mobile-nav-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.mobile-nav-link {
  color: #2e2f42;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link.carrent {
  color: #404bbf;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.mobile-contacts-link.carrent {
  color: #4d5ae5;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.mobile-social-links-list {
  fill: #fff;
  display: flex;
  gap: 40px;
  list-style: 0;
  justify-content: left;
  align-items: center;
  margin-bottom: 40px;
}

.mobile-social-links-item {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-social-links-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-links-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 786px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region Hero */
.hero {
  min-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob@2x.jpg);
  }
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}

.btn {
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  align-items: center;
  margin: 0 auto;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    height: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tab.jpg);
    padding: 112px 0;
  }

  @media (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-tab@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);
    height: 600px;
    padding: 188px 0;
    max-width: 1440px;
  }

  @media (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office@2x.jpg);
    }
  }

  .hero-title {
    color: #fff;
    margin-bottom: 48px;
  }

  .btn:hover,
  .btn:focus {
    background-color: #404bbf;
  }
}
/* #endregion */

/* #region Advantages */
.advantages {
  padding: 96px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  width: 100%;
}

.advantages-icon {
  display: none;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-desc {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .main {
    padding: 120px 0;
  }
  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .svg-icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-transform: capitalize;
  }

  .advantages-desc {
    font-weight: 400;
  }
}
/* #endregion */

/* #region Team */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.teams-list {
  border-radius: 0 0 4px 4px;
}

.team-list-item:last-child {
  margin: 0;
}

.team-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  margin-bottom: 72px;
  width: 100%;
  max-width: 264px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-desc {
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}
.team-job {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-links-list {
  fill: #fff;
  display: flex;
  gap: 24px;
  list-style: 0;
  justify-content: center;
  margin-top: 8px;
  align-items: center;
}

.social-links-item {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team {
    min-width: 768px;
  }

  .team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% -24px) / 2);
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list-item {
    width: calc((100% - 72px) / 4);
  }

  .social-links-link:hover,
  .social-links-link:focus {
    background-color: #404bbf;
  }

  .social-links-icon {
    fill: #f4f4fd;
  }
}
/* #endregion */

/* #region Portfolio */
.p-overlay {
  display: none;
}

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-title-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-items {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-desc {
  padding: 32px 16px;
  margin: 0 auto;
  border-top: none;
  border: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-product {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-title-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-items {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-items:hover .p-overlay {
    transform: translateY(0);
  }
  .container-image {
    position: relative;
    overflow: hidden;
  }
  .portfolio-title-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-items:hover,
  .portfolio-items:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-items:hover .p-overlay {
    transform: translateY(0);
  }
  .container-image {
    position: relative;
    overflow: hidden;
  }

  .p-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-desc {
    padding: 32px 16px;
    margin: 0 auto;
    border-top: none;
    border: 1px solid #e7e9fc;
  }

  .portfolio-product {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
  }

  .portfolio-product:hover {
    transform: translateY(0%);
  }
}
/* #endregion */

/* #region Footer */

.page-footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 288px;
  margin-bottom: 72px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 72px;
}
.media-text-footer {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  padding: 0 96px;
}

.bottom-social-list {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.media-links-list {
  fill: #fff;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  padding: 0;
  list-style: 0;
}

.media-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-links-icon {
  fill: #f4f4fd;
}

.footer-subscribe-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  padding: 0 112px;
  justify-content: center;
  align-items: center;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  border-radius: 4px;
  color: #fff;
}
.footer-btn {
  max-width: 165px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    min-width: 768px;
    padding-top: 96px;
    padding-left: 108px;
  }

  .footer-wrapper {
    gap: 24px;
  }

  .footer-info {
    max-width: 264px;
    margin: 0;
  }
  .footer-logo {
    display: inline-block;
  }

  .media-text-footer {
    padding: 0;
  }

  .subscribe-text {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-subscribe {
    gap: 24px;
    flex-direction: row;
  }

  .footer-subscribe-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-wrapper {
    gap: 0;
    flex-wrap: nowrap;
    max-width: 1158px;
    margin: 0 auto;
  }
  .footer-info {
    max-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-logo {
    justify-content: flex-end;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-social {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .media-text-footer {
    padding: 0;
  }

  .media-links-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .media-links-link:hover,
  .media-links-link:focus {
    background-color: #31d0aa;
  }

  .media-links-icon {
    fill: #f4f4fd;
  }
  .footer-subscribe-wrapper {
    margin-left: auto;
  }

  .subscribe-text {
    padding: 0;
    justify-content: flex-start;
  }

  .footer-subscribe {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-input {
    width: 264px;
    opacity: 1;
  }

  .footer-subscribe-input .placeholder {
    color: #fff;
  }

  .footer-btn {
    margin: 0;
  }

  .footer-btn-icon {
    margin-left: 16px;
  }
}
/* #endregion */

/* #region Modal */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-contacts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-user-contacts {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  color: #fff;
}

.modal-close-btn:hover .modal-svg,
.modal-close-btn:focus .modal-svg {
  fill: #fff;
}

.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -150%);
}
.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field-wrapper {
  margin-bottom: 8px;
}
.modal-field-wrapper:has(+ .policy-wrapper) {
  margin-bottom: 16px;
}
.modal-input:focus-within {
  border-color: #4d5ae5;
  color: #4d5ae5;
}
.modal-input:focus-within + .input-icon {
  fill: #4d5ae5;
}
.modal-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  margin-bottom: 4px;
  display: block;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input {
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 16px;
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

textarea.modal-input {
  resize: none;
  padding: 8px 16px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.policy-wrapper {
  margin-bottom: 24px;
}
.policy-wrapper .modal-lable {
  margin-bottom: 0;
}

.checkbox-visible {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  cursor: pointer;
}
.checkbox-hidden:checked + .modal-lable > .checkbox-visible {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-hidden:focus-visible + .modal-lable > .checkbox-visible {
  outline: 1px solid #4d5ae5;
  outline-offset: 2px;
}

.send-button {
  display: block;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
/* #endregion */
